$text_color: #b4b4b3;
$link_color: #324fb8;
$title_gradient_start: #386798;
$title_gradient_finish: #133c6c;
$bg_color: #ffffff;

@mixin border-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:  border-box;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor);
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor);
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor);
  background-image:      -o-linear-gradient(top, $fromColor, $toColor);
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin border-radius($tl, $tr, $br, $bl) {
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  -moz-border-radius-topleft: $tl;
  -moz-border-radius-topright: $tr;
  -moz-border-radius-bottomright: $br;
  -moz-border-radius-bottomleft: $bl;
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $bl;
}


html, body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $bg_color;
}

body, div, p, span, h2, h3, ol, li{
  font-family: arial, helvetica, san-serif;
}

div,ol{
  @include border-sizing;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}


.module{
  width: 100%;
  display: block;

  h2{
    color: #ffffff;
    @include linear-gradient($title_gradient_start, $title_gradient_finish);
    font-size: 14px;
    font-weight: normal;
    padding:5px;
    @include border-radius(5px,5px,0,0);
    box-shadow: 0px -5px 0 0 $text_color;
    border-top:2px solid $bg_color;
    position: relative;
    border-bottom:1px solid #ecf1f6;

    &.small{
      &:after {
        width: 70%;
      }
    }

    &:after {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAKCAYAAACe5Y9JAAAAHElEQVQIW2NMbFv7/+ajNwyMVhkz/zMAASOVRADjkyVP+UtmFQAAAABJRU5ErkJggg==");
      content: ' ';
      width: 86%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 80%;
      opacity: 1;
      @include border-radius(0,0,0,3px);
    }
  }

  .news_pane{
    border: 1px solid $text_color;
    padding: 10px;
    margin-bottom:5px;

    h3{
      font-size: 14px;
      font-weight: bold;
      margin:0 0 10px;
    }

    module{
      display: inline-block;
      width:49.5%;

      ol{
        padding-left: 30px;
        margin: 0;
        text-indent: 0;
        li{
          font-size: 13px;
          color:$text_color;
          a{
            text-decoration: none;
            color: $link_color;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  footer{
    a{
      color:#000;
      text-decoration:none;
      &:hover{
        color:#000;
        text-decoration: underline;
      }

      &:after{
        content: ' \00BB';
        color: #f00;
      }

    }
  }

  clear: both;
}

.generic_container{
  width:650px;
  margin:20px;
}

.generic_sidebar{
  width:310px;
  margin:20px;
}