.float-left {
  float: left;
}

.float-right {
  float: right;
}


.module_1{
  width: 650px;
  display: block;

  h2{
    color: #ffffff;
  }

  .news-pane{
    border:{
      width: 1px;
      color: ;

    }
  }
}

