.float-left {
  float: left; }

.float-right {
  float: right; }

.module_1 {
  width: 650px;
  display: block; }
  .module_1 h2 {
    color: #ffffff; }
  .module_1 .news_pane {
    border: 1px solid #b4b4b3; }
