/*-------------------------------------------------------------*/
/* This scss file generate the style for the module and can be */
/* modified to change each property.                           */
/*-------------------------------------------------------------*/
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white; }

body, div, p, span, h2, h3, ol, li {
  font-family: arial, helvetica, san-serif; }

div, ol {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.module {
  width: 100%;
  display: block;
  clear: both; }
  .module h2 {
    color: #ffffff;
    background-color: #133c6c;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#386798), to(#133c6c));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #386798, #133c6c);
    background-image: -moz-linear-gradient(top, #386798, #133c6c);
    background-image: -ms-linear-gradient(top, #386798, #133c6c);
    background-image: -o-linear-gradient(top, #386798, #133c6c);
    background-image: linear-gradient(top, #386798, #133c6c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#386798', EndColorStr='#133c6c');
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px -5px 0 0 #b4b4b3;
    border-top: 2px solid white;
    position: relative;
    border-bottom: 1px solid #ecf1f6; }
    .module h2:after {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAKCAYAAACe5Y9JAAAAHElEQVQIW2NMbFv7/+ajNwyMVhkz/zMAASOVRADjkyVP+UtmFQAAAABJRU5ErkJggg==");
      content: ' ';
      width: 86%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 80%;
      opacity: 1;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 3px; }
  .module .news_pane {
    border: 1px solid #b4b4b3;
    padding: 10px;
    margin-bottom: 5px; }
    .module .news_pane h3 {
      font-size: 14px;
      font-weight: bold;
      margin: 0 0 10px; }
    .module .news_pane module {
      display: inline-block;
      width: 49.5%; }
      .module .news_pane module ol {
        padding-left: 30px;
        margin: 0;
        text-indent: 0; }
        .module .news_pane module ol li {
          font-size: 13px;
          color: #b4b4b3; }
          .module .news_pane module ol li a {
            text-decoration: none;
            color: #324fb8; }
            .module .news_pane module ol li a:hover {
              text-decoration: underline; }
  .module footer a {
    color: #000;
    text-decoration: none; }
    .module footer a:hover {
      color: #000;
      text-decoration: underline; }
    .module footer a:after {
      content: ' \00BB';
      color: #f00; }
  .module.small h2:after {
    width: 70%; }
  .module.small .news_pane module {
    width: 100%; }

.generic_container {
  width: 650px;
  margin: 20px; }

.generic_sidebar {
  width: 310px;
  margin: 20px; }
